SMB_CONNECTION_STRING=Host=host;Database=neondb;Username=user;Password=password;SSL Mode=Require;Channel Binding=Require

JWT_SECRET=secret-32-chars
JWT_ISSUER=SMB.API
JWT_AUDIENCE=SMB.Client
JWT_ACCESS_TOKEN_MINUTES=15

API_PORT=8080
CORS_ALLOWED_ORIGIN=http://localhost:5173
